*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(../src/components/css/pexels-photo-1961772.webp);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
background-size: cover;}
    

.to-do-app{
    width: 400px;
    height: 630px;
    
    background-color: rgb(252, 252, 252);
    border-radius: 20px;
    opacity: 0.8;
    border-style: solid;
    border-color: #2a8142;
    box-shadow: 2px 1px 5px 5px #2a8142 !important;
    box-shadow:#2da34f ;
}

